/* line 1, ../sass/base/_reset.scss */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #444444;
  font-family: "Open Sans", Tahoma, Arial;
  font-size: 12pt;
}

/* line 12, ../sass/base/_reset.scss */
html, body {
  height: 100%;
}

/* line 13, ../sass/base/_reset.scss */
body {
  min-height: 100%;
}

/* line 14, ../sass/base/_reset.scss */
img {
  border: 0;
}

/* line 15, ../sass/base/_reset.scss */
a {
  color: #068acc;
}
/* line 17, ../sass/base/_reset.scss */
a:focus, a:active {
  outline: 0;
}

/* line 1, ../sass/app/_mixins.scss */
.box-module, .compose, .tweets {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  margin: 10px 0;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 1, ../sass/app/_defaults.scss */
body {
  background: #c0deed url("/images/bg.png") repeat-x left top;
}

/* line 4, ../sass/app/components/_main.scss */
.compose .field {
  border: 1px solid #56B4EF;
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 0 rgba(82, 169, 236, 0.6);
  -moz-box-shadow: 0 0 5px 0 rgba(82, 169, 236, 0.6);
  box-shadow: 0 0 5px 0 rgba(82, 169, 236, 0.6);
}
/* line 3, ../sass/base/_mixins.scss */
.compose .field:before, .compose .field:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/base/_mixins.scss */
.compose .field:after {
  clear: both;
}
/* line 11, ../sass/base/_mixins.scss */
.compose .field .cf {
  *zoom: 1;
}
/* line 11, ../sass/app/components/_main.scss */
.compose .field a {
  float: right;
  margin-right: 5px;
  text-decoration: none;
}
/* line 16, ../sass/app/components/_main.scss */
.compose .field a:hover {
  color: #134863;
}
/* line 21, ../sass/app/components/_main.scss */
.compose .field input {
  border: none;
  width: 80%;
  font-size: 12pt;
}
/* line 26, ../sass/app/components/_main.scss */
.compose .field input:focus {
  outline: none;
}

/* line 43, ../sass/app/components/_main.scss */
.tweets a.get-more {
  color: #2997CE;
  display: block;
  margin-top: 10px;
}

/* line 49, ../sass/app/components/_main.scss */
.tweets .tweet {
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid #DDDDDD;
}

/* line 55, ../sass/app/components/_main.scss */
.tweets .tweet img {
  float: left;
}

/* line 59, ../sass/app/components/_main.scss */
.tweets .tweet h3 {
  margin-left: 55px;
}

/* line 63, ../sass/app/components/_main.scss */
.tweets .tweet p {
  margin-left: 55px;
  color: #888888;
}

/* line 1, ../sass/app/_structure.scss */
.main-container {
  margin: 15px auto;
  padding: 0px 10px 10px 10px;
  width: 500px;
}
