.main-content {
	background-color: #fff;
	border: 1px solid #e1e8ed;
	padding: 15px;
	line-height: 16px;
}

.features {
	background-color: #fff;
	border: 1px solid #e1e8ed;
	padding: 15px;
	line-height: 16px;
}

.legal {
	background-color: #fff;
	border: 1px solid #e1e8ed;
	padding: 15px;
	line-height: 16px;
}