// Reset Vars
$default-font-family: 'Open Sans', Tahoma, Arial;
$default-font-size: 12pt;
$default-text-color: #444444;
$default-link-color: #068ACC;

// // Structure
// $default-page-width: 960px;
// $line-color: #CCCCCC;
// $tab-height: 30px;
// $gutter: 16px;
// $aside-width: 280px;

// // Brand
// $brand-color: #595897;
// $brand-font-family: 'Stroke', serif; 

// // Other Colors
// $color2: #E4D172;	// Bright Yellow
// $color3: #A5A18B;	// Gray-Yellow
// $color4: #F8F8ED;	// Light Yellow
// $color5: #EFEFFF;	// Light Purple
// $light-text-color: #999999;